<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoopandPee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E99A07EA1D4DB09E00BD244C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99A08061D4DB09F00BD244C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99A08111D4DB09F00BD244C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
